<div class="container-fluid">

    <div class="row">
      <div class="col-sm-12">
  
        <mat-toolbar style="background-color: #343a40;">
          
          <a routerLink="/technician/login" style="text-decoration: none;">
            <mat-icon svgIcon="attendme-logo" style="font-size:30px; height:30px; width:30px;"></mat-icon>
            Attendme
          </a>
        </mat-toolbar>
  
      </div>
    </div>
  
    <div class="row">
      <div class="col-sm-12">
  
        <div class="centered" style="width: 30%">
        
          <!--Email Verification-->
  
          <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSendOTPClick()">
              <mat-progress-bar mode="indeterminate" *ngIf="forgotPasswordFormProgressBar"></mat-progress-bar> 
              <mat-card *ngIf="forgotPasswordPnl"> 
                  <mat-card-header>
                    <mat-card-title>Forgot Password</mat-card-title>
                  </mat-card-header>
          
                  <mat-card-content>
  
                    <mat-form-field>
                      <input formControlName="emailId" type="email" matInput placeholder="Email ID" autocomplete="OFF"/>
                      <mat-error *ngIf="(forgorPasswordFormSubmit || forgotPasswordForm.controls['emailId'].touched || forgotPasswordForm.controls['emailId'].dirty) && forgotPasswordForm.controls['emailId'].invalid">
                        Enter valid email id.
                     </mat-error>
                    </mat-form-field>
                   
                    <p>A one time password will be sent on registered email id and mobile number</p>
          
                  </mat-card-content>
  
                  <mat-card-actions align="end">
                    <button type="submit" mat-raised-button color="primary" [disabled]="forgotPasswordForm.invalid || dispableSendOtpBtn">Send OTP</button>
                  </mat-card-actions>
    
              </mat-card>
          </form>
  
          <form [formGroup]="resetPasswordForm" (ngSubmit)="resetPasswordFormSubmit()">
  
            <mat-progress-bar *ngIf="resetPasswordFormProgressBar" mode="indeterminate"></mat-progress-bar>
            <mat-card *ngIf="resetPasswordPnl">
              <mat-card-header>
                <mat-card-title>Reset Password</mat-card-title>
              </mat-card-header>
  
              <mat-card-content>
  
                <mat-form-field>
                  <input type="text" formControlName="verfiedOTP" matInput placeholder="One Time Password" autocomplete="OFF" />
  
                  <mat-error *ngIf="(resetPasswordSubmit || resetPasswordForm.controls['verfiedOTP'].touched || resetPasswordForm.controls['verfiedOTP'].dirty) && resetPasswordForm.controls['verfiedOTP'].invalid">
                    Please enter one time password
                  </mat-error>
  
                </mat-form-field>
  
                <mat-form-field>
                    <input type="password" formControlName="newPwd" matInput placeholder="New Password" />
  
                    <mat-error *ngIf="(resetPasswordSubmit || resetPasswordForm.controls['newPwd'].touched || resetPasswordForm.controls['newPwd'].dirty) && resetPasswordForm.controls['newPwd'].invalid">
                      Please enter one time password
                   </mat-error>
  
                </mat-form-field>
  
                <mat-form-field>
                    <input type="password" formControlName="reenterNewPwd" matInput placeholder="Re-Enter New Password" />
                    <mat-error *ngIf="(resetPasswordSubmit || resetPasswordForm.controls['reenterNewPwd'].touched || resetPasswordForm.controls['reenterNewPwd'].dirty) && resetPasswordForm.controls['reenterNewPwd'].invalid">
                      Please enter one time password
                   </mat-error> 
                </mat-form-field>
                
                <mat-error *ngIf="((resetPasswordForm.controls['newPwd'].touched || resetPasswordForm.controls['newPwd'].dirty) && (resetPasswordForm.controls['reenterNewPwd'].touched || resetPasswordForm.controls['reenterNewPwd'].dirty))
                                   && (resetPasswordForm.controls['newPwd'].value != resetPasswordForm.controls['reenterNewPwd'].value)">
                   New password and re-enter new password mismatch
                </mat-error>
  
              </mat-card-content>
              <mat-card-actions align="end">
                  <button type="submit" mat-raised-button color="primary" [disabled]="resetPasswordForm.invalid || disableVerifyOtpBtn">Submit</button>
              </mat-card-actions>
  
            </mat-card>
            
          </form>
  
          <mat-card *ngIf="resetPasswordSuccessPnl">
            <mat-card-content>
              <h4 style="color: green;">
                Your password has been successfully reset. Please login to your account with new password.
              </h4>
            </mat-card-content>
            <mat-card-actions align="end">
              <button routerLink="/technician/login" mat-button color="primary">Back to login page</button>
            </mat-card-actions>
          </mat-card>
  
          
          <mat-error *ngIf="errorMsgEnableDisplay">{{errorMsgText}}</mat-error>
  
        </div>
  
      </div>
    </div>
  
  </div>